@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

<div>
   <p>This is the Header</p>
    @for(var i = 0; i < 10; i++)
    {
        <b>@i</b>
        <br />
    }
    @{ 
        string[] names = { "bob", "alice", "joe" };
        foreach(string name in names)
        {
            <p>@name</p>
        }

        int j = 1;
        while(j < 25)
        {
            <p>@j</p>
            j = j * 2;
        }

        if (j > 20)
        {
            <p>j is @j</p>
        }
        else
        {
            <p>j is @j blah</p>
        }
    }

</div>