<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form method="post" action=""></form>
        <input type="text" name="num" value="" />
        <input type="submit" value="Submit" class="submit" />

        
    </body>
</html>
